# Demo-Functionality of pandas series

In this demo, you will be shown how to create series in Python and use various attributes and functionality of series using Pandas

1) Create a panas series from a list x=[13,-5,7,19]
2) Create a series using a numpy array having values [23,3.0,7,11] an d specifying index values as "a,b,c,d"
3) Get thee values and indexx of the series of the above series
4) Access individual elements of the string
5) Assign new values to the elements

In [1]:
import numpy as np
import pandas as pd

In [3]:
x=[13,-5,7,19]
s1=pd.Series(x)
print(s1)

0    13
1    -5
2     7
3    19
dtype: int64

In [7]:
y=np.array([23,3.0,7,11])
s2=pd.Series(y,index=['a','b','c','d'])
print(s2)
print('\n',s2.dtype)

a    23.0
b     3.0
c     7.0
d    11.0
dtype: float64

 float64

In [8]:
print("Values :",s2.values)
print("Index :",s2.index)

Values : [23.  3.  7. 11.]
Index : Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
print("Third element :",s2[2])
print("First two element :\n")
print(s2[0:2])
print("Element having index 'd':")
print(s2['d'])

Third element : 7.0
First two element :

a    23.0
b     3.0
dtype: float64
Element having index 'd':
11.0

In [17]:
print('a is:',s2['a'])
print("valeu is:",s2[3])

a is: 23.0
valeu is: 11.0

In [19]:
print(s2)

a    23.0
b     3.0
c     7.0
d    11.0
dtype: float64

In [21]:
s2['a']=10

In [22]:
s2[1]=99999

In [23]:
print(s2)

a       10.0
b    99999.0
c        7.0
d       11.0
dtype: float64

# Queation: 2

    From the raw data below create a pandas series
   'Amit','Bob','Kate','A','B',np.nan,'Car','dog','Cat'
   1) print all element in lower case
   2) print all element in upper case
   3) print the length of the element

In [72]:
s=pd.Series(['Amit','Bob','Kate','A','B',np.nan,'Car','dog','Cat'])
print("Lower case:\n")
print(s.str.lower(),'\n')

print("Upper case :")
print('\n',s.str.upper())
print("\n","Length of str :")
print('\n',s.str.len())

Lower case:

0    amit
1     bob
2    kate
3       a
4       b
5     NaN
6     car
7     dog
8     cat
dtype: object

Upper case :

 0    AMIT
1     BOB
2    KATE
3       A
4       B
5     NaN
6     CAR
7     DOG
8     CAT
dtype: object

 Length of str :

 0    4.0
1    3.0
2    4.0
3    1.0
4    1.0
5    NaN
6    3.0
7    3.0
8    3.0
dtype: float64

# Question:3
 
   From the raw data below create a pd series 
 ' Arya', 'John ', ' jack ', 'Sam'
 1) Stripping spaces form the left and right
 2) Stripping spaces form the left only
 3) Stripping spaces form the right only

In [57]:
# 3.1
s = pd.Index([' Arya', 'John ', ' jack ', 'Sam'])

print(s)

Index([' Arya', 'John ', ' jack ', 'Sam'], dtype='object')

In [68]:
m=pd.Index([' Ae','Jo','Kx','sm'])
print(m)

Index([' Ae', 'Jo', 'Kx', 'sm'], dtype='object')

In [69]:
m.str.strip()

Index(['Ae', 'Jo', 'Kx', 'sm'], dtype='object')

In [73]:
m.str.lstrip()

Index(['Ae', 'Jo', 'Kx', 'sm'], dtype='object')

In [74]:
m.str.rstrip()

Index([' Ae', 'Jo', 'Kx', 'sm'], dtype='object')