## lambda fuction is the Anonymous Function

### Uses
#### * lambda is a function that takes in other function as argument 
#### * in python, we generally use it as an argument to a higher_order function
#### * lambda function are used a long with built-in fuctions like filter(), map()

## Syntax
### f=lambda parameters:expression
##### f=Function that accepts and stores the result of the expression
##### lambda=Every lambda function beings with the "lambda keywords"
##### parameter=lambda function can have multiple arguments/parameters separated by commas
##### : = A colon is added after the arguments
##### expressions =The expressionis the one which  returns an object

### Example:lanbda Function

In [16]:
sum=lambda x,y:x+y
print(sum(10,20))

30

In [17]:
mult=lambda a,b:a*b
print(mult(10,20))

200

In [31]:
my_list=[1,2,4,3,5,9,5,20,10]
new_list=list(filter(lambda num:(num%2==0),my_list))
print(new_list)

[2, 4, 20, 10]

In [32]:
my=[5,7,22,97,23,42,54,23,22,234]
new=list(map(lambda x:x*2,my))
print(new)

[10, 14, 44, 194, 46, 84, 108, 46, 44, 468]

In [51]:
message=lambda : print("hello world")
message()

hello world

In [53]:
greeting=lambda name:print('happy morning',name)
greeting("lokesh")

happy morning lokesh

In [59]:
string='happy morning'
upper=lambda string:string.upper()
a=upper(string)
print(a)

HAPPY MORNING

In [64]:
name='LOKESH'
fun=lambda x:x.lower()
print(fun(name))

lokesh

In [65]:
var="happy birthday"
greet=lambda x:x.upper()
print(greet(var))

HAPPY BIRTHDAY

In [67]:
cube=lambda x:x*x*x
c=cube(5)
print("cube values is : ",c)

cube values is :  125

In [69]:
c=input("Enter the values ::")
f=lambda x:x.upper()
d=f(c)
print("happy birthday my dear::",d)

Enter the values ::lokesh
happy birthday my dear:: LOKESH

In [73]:
c=lambda a,b:a*b
print(c(10,20))

200

In [72]:
kk=(lambda a,b:a*b)(10,20)
print(kk)

200

In [ ]:
l1=[4,2,13,21,5]
l2=[]
for i in l1:
    tem=lambda i:i**2
    l2.append(tem(i))
print(l1)

In [89]:
def add(x):
    return (lambda y:x+y)
t=add(4)
print(t(8))

12

In [90]:
high_order=lambda x,fun:x+fun(x)
high_order(20,lambda x:x*x)

420