In [7]:
# Import required library

import numpy as np
import pandas as pd
import  matplotlib.pyplot as plt

In [8]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CAB5-589B

 Directory of C:\Users\ADMIN\Documents\lokesh_demos_&_diy\day 32

11/21/2023  11:39 AM    <DIR>          .
11/21/2023  11:39 AM    <DIR>          ..
11/21/2023  11:35 AM    <DIR>          .ipynb_checkpoints
11/21/2023  11:39 AM            59,175 employees.csv
11/21/2023  11:39 AM            10,432 Practicing_Missing_values.ipynb
               2 File(s)         69,607 bytes
               3 Dir(s)  180,815,433,728 bytes free

In [29]:
df=pd.read_csv("Missing_data.csv",usecols=range(1,))
df.head()

NameError: name 'ncols' is not defined

KeyError: "['Index'] not found in axis"

In [14]:
from sklearn.impute import SimpleImputer

In [23]:
# Import pandas package
import pandas as pd

# create a dictionary with five fields each
data = {
	'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
	'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
	'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
	'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
	'E': ['E1', 'E2', 'E3', 'E4', 'E5']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
# Remove column name 'A'
df.drop(['A'], axis=1)

    A   B   C   D   E
0  A1  B1  C1  D1  E1
1  A2  B2  C2  D2  E2
2  A3  B3  C3  D3  E3
3  A4  B4  C4  D4  E4
4  A5  B5  C5  D5  E5

    B   C   D   E
0  B1  C1  D1  E1
1  B2  C2  D2  E2
2  B3  C3  D3  E3
3  B4  C4  D4  E4
4  B5  C5  D5  E5