In [42]:
import pandas as pd
import numpy as np

In [43]:
df=pd.read_csv("housing.csv")
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.67191,0.0,8.14,0,0.538,5.949,61.8,4.7075,4,307,21.0,396.90,8.26,20.4
1,0.95577,0.0,8.14,0,0.538,6.096,84.5,4.4619,4,307,21.0,380.02,10.26,18.2
2,0.77299,0.0,8.14,0,0.538,5.834,56.5,4.4986,4,307,21.0,395.62,8.47,19.9
3,1.00245,0.0,8.14,0,0.538,5.935,29.3,4.4986,4,307,21.0,386.85,6.58,23.1
4,1.13081,0.0,8.14,0,0.538,5.990,81.7,4.2579,4,307,21.0,386.75,14.67,17.5

Check if the sample mean differs from the population mean.

In [44]:
# Population mean and std 
pop=df.target
mu=pop.mean()
sigma=pop.std()
print("Population of mean",mu,'\npopulation of standard deviation :',sigma)

Population of mean 22.47870182555781
population of standard deviation : 9.248120702212953

In [45]:
# Draw sample of 100
sample_size = 100
sample =df.sample(sample_size,random_state=4).target
sample_mu=sample.mean()
sample_sigma=sample.std()
print("Sample mean :",sample_mu,"\nSample standard deviation :",sample_sigma)

Sample mean : 22.450000000000003
Sample standard deviation : 9.151436383365612

### Perform Null Hyoothesis using Z-statistic
                Ho: population mean = sample mean

In [54]:
from statsmodels.stats.weightstats import ztest
zstat, pval = ztest(df.target, x2= sample, value=0, alternative="two-sided")
zstat

0.028347192414610933

In [55]:
pval

0.977385241602543