## lambda fuction is the Anonymous Function

### Uses
#### * lambda is a function that takes in other function as argument 
#### * in python, we generally use it as an argument to a higher_order function
#### * lambda function are used a long with built-in fuctions like filter(), map()

## Syntax
### f=lambda parameters:expression
##### f=Function that accepts and stores the result of the expression
##### lambda=Every lambda function beings with the "lambda keywords"
##### parameter=lambda function can have multiple arguments/parameters separated by commas
##### : = A colon is added after the arguments
##### expressions =The expressionis the one which  returns an object

### Example:lambda Function

In [16]:
sum=lambda x,y:x+y
print(sum(10,20))

30

In [17]:
mult=lambda a,b:a*b
print(mult(10,20))

200

In [31]:
my_list=[1,2,4,3,5,9,5,20,10]
new_list=list(filter(lambda num:(num%2==0),my_list))
print(new_list)

[2, 4, 20, 10]

In [32]:
my=[5,7,22,97,23,42,54,23,22,234]
new=list(map(lambda x:x*2,my))
print(new)

[10, 14, 44, 194, 46, 84, 108, 46, 44, 468]

In [51]:
message=lambda : print("hello world")
message()

hello world

In [53]:
greeting=lambda name:print('happy morning',name)
greeting("lokesh")

happy morning lokesh

In [59]:
string='happy morning'
upper=lambda string:string.upper()
a=upper(string)
print(a)

HAPPY MORNING

In [64]:
name='LOKESH'
fun=lambda x:x.lower()
print(fun(name))

lokesh

In [65]:
var="happy birthday"
greet=lambda x:x.upper()
print(greet(var))

HAPPY BIRTHDAY

In [67]:
cube=lambda x:x*x*x
c=cube(5)
print("cube values is : ",c)

cube values is :  125

In [69]:
c=input("Enter the values ::")
f=lambda x:x.upper()
d=f(c)
print("happy birthday my dear::",d)

Enter the values ::lokesh
happy birthday my dear:: LOKESH

In [73]:
c=lambda a,b:a*b
print(c(10,20))

200

In [72]:
kk=(lambda a,b:a*b)(10,20)
print(kk)

200

In [ ]:
l1=[4,2,13,21,5]
l2=[]
for i in l1:
    tem=lambda i:i**2
    l2.append(tem(i))
print(l1)

In [89]:
def add(x):
    return (lambda y:x+y)
t=add(4)
print(t(8))

12

message=lambda arguments: expression
message()

In [12]:
message=lambda :print("Hello world")
message()

Hello world

In [21]:
message=lambda name : print("Good morning",name)
message('lokesh')

Good morning lokesh

In [19]:
add=lambda a:a+10
print(add(5))

15

In [24]:
sub=lambda a,b:a-b
print(sub(20,10))

10

In [27]:
add=lambda a,b:a+b
sub=lambda a,b:a-b
mul=lambda a,b:a*b
div=lambda a,b:a/b
print(add(20,10))
print(sub(10,5))
print(mul(2,10))
print(div(20,10))

30
5
20
2.0

In [28]:
z=lambda a,b,c,d,e:a+b+c+d+e
z(10,20,30,40,50)

150

In [30]:
str1="happy learning"
c=lambda alph:alph.upper()
print(c(str1))

HAPPY LEARNING

## user define and high order Function

In [90]:
high_order=lambda x,fun:x+fun(x)
high_order(20,lambda x:x*x)

420

In [32]:
x=lambda a,b,c:a+b+c
print(x(5,6,2))

13

In [36]:
add=lambda a=10,b=20:a+b
add(30)

50

# *args

In [38]:
add=lambda *args:sum(args)
print(add(10,20,30,40,50,150))

300

## immediately involked function expression, defined and executed immediately

In [41]:
(lambda a,b:a*b)(10,20)

200

#  lambda with using for loop

In [48]:
list1=[4,3,13,21,5]
list2=[]

for i in list1:
    temp=lambda i:i**2
    list2.append(temp(i))
print(list2)

[16, 9, 169, 441, 25]

# lambda with user defined functions

In [52]:
def add(x):
    return (lambda y:x+y)
t=add(4)
print(t(10))

14

## lambda with higher order functions
####  #A function in python with another function as an argument or returns a function as an output

In [53]:
high_order=lambda x,fun:x+fun(x)
high_order(20,lambda x:x*x)

420

sample

In [55]:
def mul(n):
    return (n)
number=list('abcdefghijklmnopqrstuvwxyz')
number2=[]
for i in number:
    number2.append(i)
print(number2)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [67]:
def add(n):
    return (n+n)
number=[1,2,3,4,5]
number2=[]
for num in number:
    number2.append(add(num))
print(number2)

[2, 4, 6, 8, 10]

# Map Function

### syntax
#### map(function,iterables)

In [71]:
def addition(n):
    return(n+n)
list1=(1,2,3,4)
result=map(addition,list1)
print(list(result))
print(result)

[2, 4, 6, 8]
<map object at 0x0000018E40EA6380>

In [72]:
numbers=(1,2,3,4,5)
result=map(lambda x:x+x,numbers)
print(list(result))

[2, 4, 6, 8, 10]

In [76]:
list1=[20,30,40]
list2=[30,40,50]
result=map(lambda x,y:x+y,list1,list2)
print(list(result))

[50, 70, 90]

In [79]:
def even(num):
    if num %2==0:
        return "even"
    else:
        return "odd"
number=[1,2,3,4,5]
result=(map(even,number))
print(list(result))

['odd', 'even', 'odd', 'even', 'odd']

In [95]:
list1=[1,2,3,4,5]
result=(map(lambda x:x%2==0,list1))
for num in result:
    print(num)

False
True
False
True
False

# filter()

### syntax
#### filter(function,iterable)

In [88]:
def even(num):
    if(num%2==0):
        return True
    else:
        return False
number=[1,2,3,4,5]
result=list(filter(even,number))
print(result)

[2, 4]

In [93]:
ages=[5,12,17,18,24,32]
def myfunc(x):
    if(x<18):
        return False
    else:
        return True
result=filter(myfunc,ages)
 
for i in result:
    print(i)

18
24
32

In [118]:
list1=[1,2,3,4,5,12,3,4,1,21,121,312]
result=(filter(lambda x:x%2==0,list1))
result1=(filter(lambda x:x%2!=0,list1))
print("\nEven Number")
for num in result:
    print(num)
print("\nOdd Numbber")
for j in result1:
    print(j)

Even Number
2
4
12
4
312

Odd Numbber
1
3
5
3
1
21
121

In [130]:
def multiple_of_three(num):
    return(num%3==0)
number =[1,3,4,5,6,9,12,15]
result=list(filter(multiple_of_three,number))
print(result)

[3, 6, 9, 12, 15]

In [132]:
def multiple_of_three(num):
    return(num%3==0)
number =[1,3,4,5,6,9,12,15]
result=list(filter(lambda x:multiple_of_three(x),number))
print(result)

[3, 6, 9, 12, 15]

# reduce() 
### Syntax
#### reduce(function,iterables)

In [134]:
import functools
num=[1,2,3,4,5]
def func(a,b):
    return a+b
print(functools.reduce(func,num))

15

In [135]:
import functools
num=[1,2,3,4,5]
print(functools.reduce(lambda x,y:x+y,num))

15

In [138]:
import functools
num=[1,2,3,4,5]
def maximum(a,b):
    if(a>b):
        return a
    else:
        return b
print(functools.reduce(maximum,num))

5